@import 'vendors/_bootstrap.scss';

/**********************************
Variables declerations:
**********************************/
$primary-color: #3b5a76;
$background-color: #ededed;
$text-color: #363636;


/**********************************
General:
**********************************/

body {
	font-family: 'Open Sans', Arial, Tahoma;
	color: $text-color;
	font: 16px;
	padding-bottom: 0;
	padding-left: 40px;
	padding-right: 40px;
}

.primary-color,
strong,
h2 {
	color: $primary-color;
}

h2{
	font-weight:700;
	text-transform:uppercase;
	line-height:1.4em;
	font-size:1.5em;
}

/**********************************
Header:
**********************************/

.background-image{
  background-image: url('../img/bangkok-nightlife.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding-bottom: 50%;
  position: relative;
  z-index: -1;
  margin-top: -180px;
}

.profile {
  margin-top: -150px;
  margin-bottom: 50px;
}

.person-image {
	width:150;
	display:block;
	margin:auto;
}

.header {
  margin-bottom: 50px;
}

header h1 {
	padding: 20px 0 0 0;
	font-size: 2.4em;
	text-weight: bold;
	text-transform:uppercase;
	letter-spacing:-1px;
	text-align:center;
	line-height:1.4em;
}

header h2 {
	text-align:center;
	text-weight:100;
}

.line {
	max-width:100%;
}

.row{
	margin-bottom: 50px;
}

.services-btn {
    display: block;
	margin: 80px auto;
	text-align: center;
}


/**********************************
Contact-list:
**********************************/

.contact-list {
	margin-top: 50px;
}

.contact-list li {
	list-style:none;
}

.contact-list li a {
	font-weight: 900;
	line-height: 3.2em;
	text-decoration:none;
}

.contact-list span {
	display:block;
	margin:0;
	line-height:0.1em;
	margin-left:37px;
	font-size:15px;
	color:#ccc;
}

/**********************************
services-projects:
**********************************/

.recent-projects ul li {
	list-style:none;
}

.recent-projects ul li h3 {
	line-height:2em;
}

/**********************************
footer:
**********************************/

footer{
	text-align:center;
	margin-top: 30px 0;
	padding: 20px;
}
